# java specific
*.class

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# netbeans ignore personal stuff 
/nbproject/

# Built files
/build/
/dist/

# Data files
/data/

# LaTeX files
*.aux
*.log
*.pdf
*.toc

/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.xml
